@media (max-width: 5000px) {

    .main__home {
       display: flex;
       justify-content: center;
    }

    .main__Home__img__slaider {
        max-width: 1920px;
    }

}

@media (max-width: 1920px) {

    .main__Product__contnet {
        width: 23%;
    }
}

@media (max-width: 1366px),(max-height: 1366px){
   
    .popap__window_img img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px),(max-height: 1200px) {
    .popap__window_img img {
        height: 1000px;
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .main__Product__contnet {
        width: 30%;
    }
}

@media (max-width: 1000px),(max-height: 1000px) {
    .popap__window_img img {
        height: 800px;
        width: 800px;
    }
}

@media (max-width: 800px),(max-height: 800px) {
    .popap__window_img img {
        height: 600px ;
        width: 600px;
    }
}

@media (max-width: 800px) {
    .main__Product__contnet {
        width: 45%;
    }
}

@media (max-width: 600px),(max-height: 600px) {
    .popap__window_img img {
        height: 400px ;
        width: 400px;
    }
}

@media (max-width: 500px) {

    .header__nav ul {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .main__Product__contnet {
        width: 90%;
    }

    .main__Product__Filter {
        flex-wrap: wrap;
        justify-content: end;
        margin-right: 20px;

    }

    .main__Contact iframe {
        width: 90%;
    }

}

@media (max-width: 400px),(max-height: 400px) {
    .popap__window_img img {
        height: 300px ;
        width: 300px;
    }
}