@media (max-width: 500px) {

    .header__nav ul {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }

    .main__Product__contnet {
        width: 90%;
    }

    .main__Product__Filter {
        flex-wrap: wrap;
    }

    .main__Contact iframe {
        width: 90%;
    }

}