* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(203, 241, 193, 0.801);
}

.header .container,
.header__nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo img{
    width: 160px;
}

.header__nav ul {
    gap: 10px;
}

.header__nav ul li {
    list-style: none;
}

.header__nav_home,
.header__nav_product,
.header__nav_contact{
    cursor: pointer;
    color: rgb(25, 136, 31);
    background-color: rgba(156, 235, 167, 0.322);
    padding: 5px;
    border-radius: 10px;
}

.main__Home__img__slaider {
    width:  100%;
    overflow: hidden;
}

.main__Home {
    display: flex;
    width: 400%;
}

.main__Home_25 {
    translate: -25%
    
}

.main__Home_50 {
    translate: -50%
}

.main__Home_75 {
    translate: -75%
}

.main__Home__img,
.main__Home__img img {
    width: 100%;
}

.main__Product__Filter {
    display: flex;
    justify-content: space-evenly;
}

.main__Product__Filter_gender,
.main__Product__Filter_season,
.main__Product__Filter_size {
    display: none;
}

.main__Product__Filter_Sl {
    color: rgb(25, 136, 31);
    background-color:  rgba(130, 189, 138, 0.192);
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
}

.main__Product__Filter_Sl:hover > 
.main__Product__Filter_gender,
.main__Product__Filter_Sl:hover > 
.main__Product__Filter_season,
.main__Product__Filter_Sl:hover > 
.main__Product__Filter_size {
    color: black;
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: rgba(89, 201, 95, 0.267);
}

.main__product {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10%;

}

.main__Product__contnet {
    width: 45%;
}
.main__Product__img {
    width: 100%;
}
.main__Product__img img {
    width: 100%;
}

.main__Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main__Contact iframe {
    width: 75%;
}